<nav class="navbar navbar-toggleable-md navbar-inverse" id="navbar">
	<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  	</button>

      <div class="container-fluid collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">KadNet Forums</a>
        </div>
        <ul class="nav navbar-nav">
             <li><a href="/">Home</a></li>
              <li><a href="/forum">Forums</a></li>
             <li><a href="#"></a></li>
        </ul>
        <div id="login1">
        	<ul class="nav navbar-nav navbar-right">
              <li><a href="/signup"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
              <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        	</ul>
        </div>
        <!--
        <div id="login2">
        	<p></p>
        </div> -->
      </div>
</nav>