<div>
	<h2>Forums</h2>

	<table class="tablesettings" id>
		<tr>
			<th class="tablepad">Topic</th>
			<th class="tablepad">Poster</th>
			<th class="tablepad">Date Posted</th>
		</tr>
	</table>
</div>
