<div id="login" class="centerform">
        <form>
              <div class="form-group">
                   <label for="email">Email address:</label>
                <input type="email" class="form-control" id="liemail">
              </div>
              <div class="form-group">
                <label for="pwd">Password:</label>
                <input type="password" class="form-control" id="lipwd">
              </div>
              <div class="checkbox">
                <label><input type="checkbox"> Remember me</label>
              </div>
                  <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </div>