<div id="signin" class="container">
    <form action="/signupaction" method="post">
          <div class="form-group">
          <label for="Name">Username:</label>
          <input type="text" class="form-control" id="usrname">
        </div>
        <div class="form-group">
          <label for="email">Email address:</label>
          <input type="email" class="form-control" id="suemail">
        </div>
        <div class="form-group">
          <label for="pwd">Password:</label>
          <input type="password" class="form-control" id="supwd">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
  </div>